.field {
  position: relative;

  &:has(.fieldInput:not(:placeholder-shown)) .fieldLabel {
    color: var(--color-black);
    scale: 0.7;
    translate: -1.75em -2.6em;
  }
}

.fieldLabel {
  position: absolute;
  top: 50%;
  left: 17px;
  color: var(--color-gray-3);
  translate: 0 -50%;
}

.fieldInput {
  --fieldInputPaddingX: 16px;
  --fieldSeachInputIconSize: 16px;

  width: 100%;
  height: var(--input-height);
  padding-inline: var(--fieldInputPaddingX);
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);

  &:hover,
  &:focus {
    border-color: var(--color-dark-2);
  }

  &:focus {
    background-color: var(--color-gray-1);
    outline: none;
  }

  &[type='search'] {
    &:placeholdershown {
      padding-right: calc(
              var(--fieldInputPaddingX) * 2 + var(--fieldSeachInputIconSize)
      );
      background-image: url('@/shared/assets/icons/icon-search_black.svg');
      background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
      background-size: var(--fieldSeachInputIconSize);
      background-repeat: no-repeat;
    }
  }

  &.isInvalid {
    border-color: var(--color-red);
  }
}

.fieldError {
  position: absolute;
  top: 100%;
  left: 0;
  color: var(--color-red);
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
